body { /* para evitar que haya los bordes en blanco en el header, arriba y hacia los lados */
    margin: 0;
    padding: 0;
}

header {
    background-color:  #ffff;
    width: 100%; /* anchura del header */
    height: 15vh; /* altura del header */
    justify-content: flex-start; /* Para alinear el contenido a la izquierda */
    align-items: center;
    display: flex;
    padding-left: 0;
}

header .logo {
   width: 15%;
   height: auto;
   display: block;
   margin-left: -40px; /* para ajustarlo a la izquierda */
   margin-top: 2em; /* para bajarlo un poco, el logo */
   box-shadow: #b12525;
}

.btn-menu {
    padding: 10px 20px;
    background-color: #ffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-menu:hover {
    background-color: #e4e4e4;
}

a {
    text-decoration: none;
}

.login-button {
    width: 86px;
    height: auto;
    margin-left: 64%;
    margin-top: -10px;
    color: white; /* color del texto */
    border: none; /* elimina los bordes */
    border-radius: 5px; /* bordes redondeados */
    font-size: 16px; /* tamaño de la fuente */
    cursor: pointer; /* cambia el cursor cuando pasa sobre el botón */
    transition: background-color 0.3s ease; /* transición suave al cambiar el color */
}

.login-button:hover {
    background-color: #cccfcc; /* nuevo color de fondo cuando el cursor está sobre el botón */
}
