body { /* para evitar que haya los bordes en blanco en el header, arriba y hacia los lados */
    margin: auto;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between; /* Espaciado entre los elementos del header */
    align-items: center; /* Alinea verticalmente */
    width: 100%;
    height: 15vh;
    background-color: #fff;
}


header .logo {
   width: 15%;
   height: auto;
   display: block;
   margin-left: -40px; /* para ajustarlo a la izquierda */
   margin-top: 2em; /* para bajarlo un poco, el logo */
   box-shadow: #b12525;
}

.btn-menu {
    padding: 10px 20px;
    background-color: #ffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-menu:hover {
    background-color: #e4e4e4;
}

a {
    text-decoration: none;
}

.login-button {
    width: 86px;
    height: auto;
    margin-left: 64%;
    margin-top: -10px;
    color: white; /* color del texto */
    border: none; /* elimina los bordes */
    border-radius: 5px; /* bordes redondeados */
    font-size: 16px; /* tamaño de la fuente */
    cursor: pointer; /* cambia el cursor cuando pasa sobre el botón */
    transition: background-color 0.3s ease; /* transición suave al cambiar el color */
}

.login-button:hover {
    background-color: #cccfcc; /* nuevo color de fondo cuando el cursor está sobre el botón */
}

.welcome-message {
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna */
    align-items: flex-end; /* Alinea todos los elementos hacia la derecha */
    justify-content: center; /* Centra verticalmente los elementos dentro de .welcome-message */
    flex-grow: 1; /* Toma espacio restante en el contenedor */
    margin-right: 40px; /* Desplaza .welcome-message hacia el centro */
}

.welcome-message span {
    text-align: right;
    white-space: nowrap; /* Evita el salto de línea */
    overflow: hidden; /* Oculta el texto que se desborda */
    text-overflow: ellipsis; /* Muestra "..." si el texto es demasiado largo */
    max-width: 200px; /* Establece el ancho máximo del contenedor */
}


.welcome-message a {
    text-align: right; /* Asegura que el enlace esté alineado */
    width: 100%; /* Igual que el span, esto asegura consistencia */
    margin-top: 5px; /* Espaciado entre el texto y el botón */
    text-decoration: none; /* Elimina el subrayado */
}


